* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

.hero-sub {
  display: none;
}

nav > i {
  padding: 1% 0;
  background-color: white;
  position: absolute;
  right: 0;
}

nav > i {
  border: 1px solid grey;
  background-color: rgb(230, 229, 229);
}

ul {
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-bar > li {
  display: none;
  list-style-type: none;
  color: black;
}

.project-sources {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.project-sources > li {
  list-style-type: none;
}

.project-desc {
  font-size: 12px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  padding: 1% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  color: black;
  background-color: white;
}

section:nth-child(even) {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 1024px) {
  
  body {
    padding: 4%;
  }
  h1, h2 {
    text-align: left;
  }
  .hero-sub {
    display: block;
  }
  nav > i {
    display: none!important;
  }
  .nav-bar > li {
    display: block;
  }

  .nav-bar {
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px;
  }

  .contact-links {
    text-align: left;
  }

  .project-sources {
    justify-content: flex-start;
  }
  .project-sources > li {
    margin-right: 10px;
  }

  img {
    float: left;
  }
  .project-desc {
    text-align: left;
  }
}


