* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: grey;
}

ul {
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1% auto;
}
.nav-bar > li {
  list-style-type: none;
  color: white;
}

.project-sources {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.project-sources > li {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  color: white;
  background-color: black;
}

section:nth-child(even) {
  background-color: white;
  color: black;
}

